<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: header"></nav>

<div class="container" id="main-content">
    <div class="row">
        <div class="col-6 no-padding">
            <form class="form-inline" action = "#" th:action="@{/contact/search}" method="get">
                <input class="form-control mr-sm-2" type="search" name="term" placeholder="Search by name ..." />
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i> Search
                </button>
            </form>
        </div>

        <div class="col-6 no-padding">
            <a href="#" class="btn btn-success float-right" th:href="@{/contact/add}">
                <i class="fa fa-plus-square"></i> New contact
            </a>
        </div>
    </div>

    <div class="row mt-4">
        <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${successMessage}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <th:block th:if="${#lists.isEmpty(contacts)}">
            <h5>No contacts</h5>
        </th:block>
        <th:block th:unless="${#lists.isEmpty(contacts)}">
            <div class="table-responsive">
                <h5>List of contacts</h5>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="contact, iterStat: ${contacts}">
                        <th scope="row" th:text="${iterStat.count}"></th>
                        <td th:text="${contact.getName()}"></td>
                        <td th:text = "${contact.getEmail()}"></td>
                        <td th:text="${contact.getPhone()}"></td>
                        <td>
                            <a href="#" class="mr-sm-2 text-primary" th:href="@{/contact/{id}/edit(id=${contact.id})}"><i class="fa fa-pencil"></i></a>
                            <a href="#" class="text-danger" th:href="@{/contact/{id}/delete(id=${contact.id})}" ><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </th:block>

    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>

</body>
</html>
